[Unit]
Description=Hello Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill helloservice
ExecStartPre=-/usr/bin/docker rm helloservice
ExecStartPre=/usr/bin/docker build -t helloimage http://bitbucket.org/AndyCaley/helloService
ExecStart=/usr/bin/docker run --name helloservice -p 8080:8080 helloimage 
ExecStop=/usr/bin/docker stop helloservice

[X-Fleet]
Conflicts=hello@*.service
